@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/**** pantalla de login*****/
.custom-color {
  background-color: #484848;
}
* {
  margin: 0px;
  padding: 0px;
}
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.main-container {
  background-color: #fff;
  width: 980px;
  height: 759px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "imagen formulario";
}
.imagen-area {
  grid-area: imagen;
  background-color: black;
  background-image: url("../assets/images/headphones.png");
}

/*************** FORMULARIO *******************/
.formulario-area {
  grid-area: formulario;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedor-formulario {
  width: 374px;
  height: 632px;
  /* background-color: aquamarine; */
  display: flex;
  align-items: center;
  flex-direction: column;
}
.titulo-formulario {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  margin-bottom: 0px;
}
.subtitulo-formulario {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #686868;
  margin-top: 13px;
  margin-bottom: 0px;
}
.formulario {
  margin-top: 31px;
}
.entrada-contenedor {
  border: 2px solid #000;
  border-radius: 10px;
  width: 241px;
  height: 38px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 10px;
}
.entrada {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  outline: none;
  border: 0;
  width: 150px;
}
.mt-15 {
  margin-top: 15px;
}
.black-boton {
  background-color: #000;
  width: 263px;
  height: 38px;
  border-radius: 10px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}
.black-boton:hover {
  transform: scale(1.08);
}
.or-seccion {
  width: 263px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt-31 {
  margin-top: 31px;
}
.or {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0px 31px 0px 31px;
}
.line-or {
  width: 71px;
  height: 0px;
  border: 1px solid #000;
}
.social-contenedor {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #b6b6b6;
  border: 2px solid #b6b6b6;
  justify-content: center;
  text-decoration: none;
  transition: 0.2s;
}
.social-contenedor:hover {
  transform: scale(1.08);
}
.social-icon {
  height: 25px;
  margin-right: 20px;
}
.he-30 {
  height: 30px;
}
.a-black-boton {
  background-color: #000;
  width: 263px;
  height: 38px;
  border-radius: 10px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
.a-black-boton:hover {
  transform: scale(1.08);
}

/*************************** Estilos de registro (Register) ***************************/
.imagen-registro {
  background-image: url("../assets/images/userWall.png");
}
.terms {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.back {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

/**************************** HOME STYLES *******************************/
/** Seccion de Navbar **/

.logo {
  height: 47px;
  width: 47px;
  margin-left: 34px;
}
.nav {
  height: 90px;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000;
  justify-content: space-between;
}
.nav-menu {
  text-decoration: none;
  list-style: none;
  margin-right: 66px;
}
.menu-item {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #000;
}

/** Seccion de Banner **/

.banner {
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  width: 80%;
  /* background-color: antiquewhite; */
  height: 413px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "content-banner imagen-banner";
}
.content-banner {
  grid-area: content-banner;
  display: flex;
  padding-top: 30px;
  padding-left: 27px;
  padding-right: 27px;
  flex-direction: column;
}
.titulo-banner {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
}
.description-banner {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #818181;
  font-size: 24px;
  margin-top: 17px;
}

.buttons-container {
  margin-top: 95px;
  display: flex;
}
.boton-contactar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: #000;
  width: 172px;
  height: 46px;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  margin-right: 82px;
  transition: 0.2s;
}

.boton-contactar:hover {
  transform: scale(1.08);
}

.boton-nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  background-color: white;
  border: 1px solid #c2c2c2;
  width: 218px;
  height: 46px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  transition: 0.2s;
}

.boton-nosotros:hover {
  transform: scale(1.08);
}
/** Seccion de Habilidades **/
.habilidades-seccion {
  margin-top: 30px;
  background-color: #000;
  height: 337px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.titulo-seccion {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  margin-top: 20px;
  color: #fff;
}
.card-list {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: row;
}
.card-item {
  color: white;
  margin-right: 60px;
  height: 224px;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
}

/** Seccion de Clientes **/

.clientes-seccion {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000;
}
.clientes-imagen {
  margin-left: 162px;
}
.circle-clientes {
  border-radius: 200px;
  background-color: #000;
  width: 310px;
  height: 304px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 162px;
}
.clientes-texto {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
/** Seccion de Socios **/

.socios-seccion {
  margin-top: 30px;
  background-color: #fff;
  height: 337px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.titulo-socios {
  color: #000;
}

.item-black {
  color: #000;
}
.end-item {
  margin-right: 0px;
}
.imagen-banner {
  grid-area: imagen-banner;
  background-image: url("../assets/images/imagen-banner.png");
}

/***************************** MEDIA QUERYES ****************************/
@media (max-width: 500px) {
  .main-container {
    grid-template-columns: 0fr 1fr;
  }
}
